{% extends 'base.html' %}

{% block title %}
<h1 align="center"  style="color:#0000FF; font-size:30px">List of products</h1>
{% endblock %}

{% block nav %}
    {% if not request.user.is_authenticated %} 
        <li><a href={% url 'login' %}><button> Login </button></a></li>
        <li><a href={% url 'register' %}><button> Registration </button></a></li>
    {% elif not request.user.is_superuser %}
            <li><a href={% url 'logout' %}><button> Logout </button></a></li>
            <li><a href={% url 'purchases' %}><button> My purchases </button></a></li>
            <p align="right" style="color:#ff0000d8; font-size:25px"><strong> My wallet: {{ request.user.wallet }}</strong></p>
    {% else %}
            <li><a href={% url 'logout' %}><button> Logout </button></a></li>
            <li><a href={% url 'add_product' %}><button> Create product </button></a></li>
            {% if not purchase.status and not purchase.return_status %}
            <li><a href={% url 'returns' %}><button> Go to return list </button></a></li>
            {% endif%}
    {% endif %}
{% endblock %}

{% block content %}
<div>
    {% for obj in object_list %}
    <div>
        <h3>{{ obj.title }} </h3>
        Price: {{ obj.price }} <br>
        {% if obj.in_stock > 0 %}
            In stock: {{ obj.in_stock }}
        {% else %}
            <span style="background-color: red">This product not available</span>
        {% endif %}
    </div>    
        {% if request.user.is_superuser %}
            <a href="{% url 'update_product' obj.pk %}"><button>Change</button></a>
        {% elif request.user.is_authenticated %}
            {% csrf_token %}
            {% if obj.in_stock > 0 %}
                    <form method="post" action="{% url "purchase_create" %}">
                    Quantity to buy: {{ buy_form.quantity }}
                    {% csrf_token %}
                    <input type="hidden" name='product_id' value="{{obj.pk}}">
                    <button type="submit" value="Buy">Buy</button>
            {% endif %}
                </form>
        {% endif %}
    {% endfor %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags == "error" %}
                <li style= "color:rgba(255, 0, 0, 0.74);">
                    {{ message }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
</div>
{% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}