{% extends 'base.html' %}

{% block title %}
<h1 align="center"  style="color:#0000FF; font-size:30px">List of purchases</h1>
{% endblock %}
 
{% block content %}
{% for obj in object_list %}
      {% if obj.consumer == request.user %}
        Product: {{ obj.product }}<br>
        Quantity: {{ obj.quantity }}<br>
        Date: {{obj.created}}<br>
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
      <button type="submit" value="update">Add to cart</button>
      </form>
    {% endif %}
    </div>
{% endfor %}
{% endblock %}