{% extends 'base.html' %}

{% block title %}
<h1 align="center"  style="color:#0000FF; font-size:30px">List of purchases</h1>
{% endblock %}

{% block nav %}
  <li><a href={% url 'logout' %}><button> Logout </button></a></li>
  <li><a href={% url 'product_list' %}><button> Return to main page </button></a></li><br>  
  <p align="right" style="color:#ff0000d8; font-size:25px"><strong> My wallet: {{ request.user.wallet }}</strong></p>

{% endblock %}
 
{% block content %}
{% for obj in object_list %}
      {% if obj.consumer == request.user %}
        Product: {{ obj.product }}<br>
        Quantity: {{ obj.quantity }}<br>
        Date: {{obj.created}}<br>

        {% if not purchase.status and not purchase.return_status %}
          <form method="post" action="{% url "ret_product" %}">
            {% csrf_token %}
            <input type="hidden" name='product_id' value="{{ obj.pk }}">
            <button type="submit" value="Return"> Return </button>
          </form>
        {% endif %}
    {% endif %}
{% endfor %}
{% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}