{% extends 'base.html' %}

{% block title %}
    <h1 align="center"  style="color:#0000FF; font-size:30px">Return purchases page </h1>
{% endblock %}

{% block nav %}
  <li><a href={% url 'logout' %}><button> Logout </button></a></li>
  <li><a href={% url 'product_list' %}><button> Return to main page </button></a></li><br>  
{% endblock %}

{% block content %}

{% for obj in object_list %}
    <p>Consumer: {{ obj }}<br>
      Return product: {{ obj.ret_product.product }}<br>
      Return_time: {{ obj.created }}</p>
    <form action="{% url 'confirm' obj.ret_product.pk %}" method="post">
      {% csrf_token %}
      <input type="hidden" name='obj.ret_product.pk' value="{{ obj.ret_product.pk }}"/>
      <button type="submit" value="confirm"> Confirm </button>
    </form>

    <form action="{% url "reject" obj.pk %}" method="post">
      {% csrf_token %}
      <input type="hidden" name='obj.product.pk' value="{{ obj.pk }}"/>
      <button type="submit" value="Reject"> Reject </button>
    </form>
{% endfor %}

{% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}