{% extends 'base.html' %}

{% block title %}
    <h1 align="center"  style="color:#0000FF; font-size:30px">Return purchases page </h1>
{% endblock %}

{% block nav %}
  <li><a href={% url 'logout' %}><button> Logout </button></a></li>
  <li><a href={% url 'product_list' %}><button> Return to main page </button></a></li><br>  
{% endblock %}

{% block content %}

{% for obj in object_list %}

    <p>Consumer: {{ obj }}<br>
      Return product: {{ obj.ret_product.product }}<br>
      Return_time: {{ obj.created }}</p>
    <form method="post" action="{% url "confirm" obj.ret_product.product.pk %}">
      {% csrf_token %}
      <button type="submit" value="Confirm"> Confirm </button>
    </form>

    <form method="post" action="{% url "reject" obj.ret_product.pk %}">
      {% csrf_token %}
      <button type="submit" value="Reject"> Reject </button>
    </form>

{% endfor %}
{% endblock %}